

 <%= render partial: 'layouts/nav/navbar_auth',  locals: {path: url_for(:back),name: 'Categories', arrow_back: false} %>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
